{% extends 'base.html' %}
{% block title %} 
   book page
{% endblock %} 

{% block content %} 
<div class="down">
<h2 >
    Buy Books
</h2>
<br>

<h4>The Alchemist ---> <a href="https://www.amazon.in/Alchemist-Paulo-Coelho/dp/8172234988/ref=sr_1_1?keywords=the+alchemist&qid=1675592372&s=amazon-devices&sr=1-1">Click Here</a></h4>
<h4>The Art of Happiness ---> <a href="https://www.amazon.in/Art-Happiness-Handbook-Living/dp/0340750154/ref=sr_1_1?crid=3331FHGKT6WTU&keywords=the+art+of+happiness&qid=1675592835&s=amazon-devices&sprefix=the+art+of+happines%2Camazon-devices%2C196&sr=1-1">Click Here</a></h4>
<h4>Life After Death ---> <a href="https://www.amazon.in/Life-After-Death-Book-Answers/dp/1846041007/ref=sr_1_1?crid=105ECOH94K6RW&keywords=life+after+death&qid=1675592964&s=amazon-devices&sprefix=life+after+death%2Camazon-devices%2C191&sr=1-1">Click Here</a></h4>

</div>

{% endblock %}